rules:
    - Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
    - Ergebnis\PHPStan\Rules\Expressions\NoIssetRule
    - Ergebnis\PHPStan\Rules\Expressions\NoEmptyRule

parameters:
  paths:
    - src
    - tests

  level: 6

  excludePaths:
    - ./*/vendor/*

  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
